*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 30px 0px;
    background: url('img.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.gameTitle{
    color: #faf6f6;
    font-family: 'Audiowide', cursive;
}

.fa-user, .fa-desktop{
    font-size: 36px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: black;
}

.scoreContainer{
    background-color: white;
    padding: 20px 40px;
    width: 300px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.updateScoreTitle{
    padding: 4px 8px;
    font-size: 12px;
    color: white;
    background: #363636;
    border-radius: 3px;
    top: 35px;
    right: 115px;
    position: relative;
}

.scb{
    display: flex;
    justify-content: space-between;
    
}

.updateScoreTitle1{
    padding: 4px 6px;
    font-size: 12px;
    color: white;
    background: #363636;
    border-radius: 3px;
    top: 35px;
    left: 125px;
    position: relative;
}

.gameTitle{
    max-width: 500px;
    top:30px;
    margin-bottom: 20px;
}

.gameTitle img{
    width: 100%;
}

.scoreContainer.active{
    transition: .4s; 
    
}

.scoreHeading{
    font-size: 28px;
    bottom: -10px;
    position: relative;
}


.updateScore{
    font-size: 60px;
    margin-top: -20px;
}

.playerContainer{
    background-color: white;
    width: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    margin: auto;
}

.optionsPlayer{
    display:flex;
    justify-content: space-evenly;
}

.optionsPlayer div{
    width: 100px;
    border-radius: 5px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
    padding: 10px;
    transition: .4s;
}

.optionsPlayer div:hover{
    transform: scale(1.04);
    transition: .4s;
    cursor: pointer;
}

.optionsPlayer div img{
    width: 100%;
}


.computerContainer{
    background-color: white;
    width: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    margin: auto;
}

.optionsComputer{
    display:flex;
    justify-content: space-evenly;
}

.optionsComputer div{
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 10px #afafaf,
                 -5px -5px 10px #ffffff;
    padding: 10px;
}

.optionsComputer div img{
    width: 100%;
}

.console{
    display: flex;
    gap: 40px;
}

.playerHeading, .computerHeading{
    text-align: center;
    margin-bottom: 20px;
}

.play-again{
    display: none;
}

.rockComputer.cmp{
    transform: scale(1.07);
    transform: .4s;
}

.paperComputer.cmp{
    transform: scale(1.07);
    transform: .4s;
}

.scissorsComputer.cmp{
    transform: scale(1.07);
    transform: .4s;
}

.comment{
    font-size: 15px;
}

.play-again{
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 18px;
}

@media (max-width:700px){
    .console{
        display: flex;
        flex-direction: column;
    }

}@media (max-width:450px){
    .gameTitle{
        max-width: 350px;
       
    }

    .playerContainer, .computerContainer{
        width: 350px;
        padding: 20px 10px;
    }

    .optionsPlayer div, .optionsComputer div{
        width: 100px;
        width: 85px;
}
 .console{
    gap:20px
 }

.scoreContainer{
    margin-bottom: 20px;
}
    }

    @media (max-width:399px){
        .gameTitle{
            max-width: 300px;
           margin-bottom: 10px;
        }
    
        .playerContainer, .computerContainer{
            width: 300px;
            padding: 20px 10px;
        }
    
        .optionsPlayer div, .optionsComputer div{
            width: 100px;
            width: 80px;
    }

    .scoreContainer{
        margin-bottom: 20px;
        width: 275px
    }

    .updateScoreTitle{
        right: 108px
    }

    .updateScoreTitle1{
        left:106px
    }

    }